<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="pt-br" ng-app>
    <head>
        <title>Calculadora</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1" >

        <link rel="stylesheet" type="text/css" href="bootstrap-3.1.1/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="bootstrap-3.1.1/css/bootstrap-theme.css"> 

        <style type="text/css">
            .acordoSemDesc{
                border: solid 2px #245b18;

            }

            .acordoComDesc{
                border: solid 2px #c40402;
            }
            
            .acordoSemDesc span {
                color: #144612;
                font-style: italic;
                margin-left: 5px;
            }
            
            .acordoComDesc span {
                font-style: italic;
                margin-left: 5px;
            }
        </style>
    </head>
    <body ng-controller="cobCalc" class="container">
        <div>


            <form ng-controller="dadosContrato" role="form" class="form-horizontal">

                <div class="form-group">
                    <div class="form-inline">
                        <div class="row">
                            <label for="vlrParcIn" class="col-xs-4 col-lg-2 col-md-2 col-sm-4 text-right">Vlr Parc.:</label>

                            <div class="col-xs-6 col-lg-2 col-md-2 col-sm-2 input-group">
                                <span class="input-group-addon">R$</span>
                                <input id="vlrParcIn" autofocus
                                       type="number" class="form-control" 
                                       ng-change="cpVlrParc()" ng-model="contrato.vlrParc" />                        
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-inline">
                        <div class="row">
                            <label for="vlrHonIn" class="col-xs-4 col-lg-2 col-md-2 col-sm-4 text-right">Honorarios.:</label>
                            <div class="col-xs-6 col-lg-2 col-md-2 col-sm-2 input-group">
                                <span class="input-group-addon">R$</span>
                                <input id="vlrHonIn" 
                                       type="number" class="form-control col-lg-6"
                                       ng-change="cpVlrHon()" ng-model="contrato.vlrHon" disabled/>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">

                    <div class="form-group">
                        <div class="form-inline">
                            <div class="row">
                                <label for="inParc1" 
                                       class="col-xs-4 col-lg-2 col-md-2 col-sm-4 text-right">Juros 1ª</label> 

                                <div class="col-xs-6 col-lg-2 col-md-2 col-sm-2 input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input id="inParc1"
                                           type="number" class="form-control sm-8"
                                           ng-change="cpVlrJuroParc1()" ng-model="contrato.vlrJuroParc1" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-inline">
                            <div class="row">
                                <label for="inParc2" class="col-xs-4 col-lg-2 col-md-2 col-sm-4 text-right">2ª</label> 
                                <div class="col-xs-6 col-lg-2 col-md-2 col-sm-2 input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input id="inParc2" 
                                           type="number" class="form-control sm-8"
                                           ng-change="cpVlrJuroParc2()" ng-model="contrato.vlrJuroParc2" />
                                </div>    
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-inline">
                            <div class="row">
                                <label for="inParc3" class="col-xs-4 col-lg-2 col-md-2 col-sm-4 text-right">3ª</label> 
                                <div class="col-xs-6 col-lg-2 col-md-2 col-sm-2 input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input id="inParc3" 
                                           type="number" class="form-control"
                                           ng-change="cpVlrJuroParc3()" ng-model="contrato.vlrJuroParc3" />                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-inline">
                            <div class="row">
                                <label for="inPercDesc" class="col-xs-4 col-lg-2 col-md-2 col-sm-4 text-right">Desconto.:</label>
                                <div class="col-xs-6 col-lg-2 col-md-2 col-sm-2 input-group">
                                    <span class="input-group-addon">.%</span>
                                    <input id="inPercDesc" 
                                           type="number"  class="form-control"
                                           ng-change="cpVlrDescJuros()" ng-model="contrato.vlrDescJuros"/>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="form-inline">
                                <label for="inGCA" class="col-xs-4 col-lg-2 col-md-2 col-sm-4 text-right">GCA</label>
                                <div class="col-xs-6 col-lg-2 col-md-2 col-sm-2 input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input id="inGCA" 
                                           type="number" class="form-control"
                                           ng-change="cpVlrGCA()" ng-model="contrato.vlrGCA" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-inline">
                            <div class="row">
                                <label for="inQntParc" class="col-xs-8 col-lg-2 col-md-2 col-sm-8 text-right">Quantidade de Parcela.:</label>            
                                <div class="col-xs-2 col-lg-6 col-md-6 col-sm-2">
                                    <select name="qntParcelas" id="inQntParc"
                                            class="form-control"
                                            ng-change="cpQntParc()" ng-model="contrato.qntParc">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tirado os botoes por nao estar interagindo com angularJS o metodo ng-click
                                        <div class="row">
                                            <div class='form-inline'>                        
                    <!--
                    <a href="#" class="btn btn-primary col-xs-offset-1 col-xs-4 col-sm-2 col-md-2 col-lg-1">Gerar Texto</a>                                                                    
                        
                        <button class="btn btn-primary col-xs-offset-1 col-xs-4 col-sm-2 col-md-2 col-lg-1 btn btn-primary" ng-click="limparDados()" value="TTT">Gerar Texto</button>                                                                    
                    <a href="#" id="limparDados" 
                       class="btn btn-primary col-xs-offset-1 col-xs-4 col-sm-1 col-md-2 col-lg-1 col-lg-offset-1"
                       ng-click="limparDados()" >Limpar</a                        
                    </div>
                </div>
                    -->
                    <div class="row">
                        <p class="col-xs-offset-1 text-info">Sem Desconto.: <span class="text-success">{{contrato.totalSemDesconto| currency: "R$ " }}</span></p>
                        <p class="col-xs-offset-1 text-info">Com Desconto.: <span class="text-warning">{{contrato.totalComDesconto| currency: "R$ "}}</span></p>
                    </div>

                    <div class="row">

                        <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-8 acordoSemDesc">
                            <span class="text-success">Acordo sem Desconto.:</span>
                            <p class="col-xs-offset-1 text-success">{{contrato.textoSemDesc}}</p>
                        </div>
                    </div>
                        <br/>
                        <div class="row">
                        <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-8 acordoComDesc"> 
                            <span class="text-danger">Acordo com Desconto.:</span>
                            <p class="col-xs-offset-1 text-warning">{{contrato.textoComDesc}}</p>
                        </div>
                        </div>
                    </div>
            </form>


        </div>


        <script type="text/javascript" src="js/libs/angular.js/angular.js"></script>
        <script type="text/javascript" src="js/libs/angular.js/angular-resource.js"></script>
        <script type="text/javascript">

                                    function dadosContrato($scope) {
                                        $scope.contrato = {
                                            vlrTotalParc: 0,
                                            vlrParc: 0,
                                            vlrHon: 0,
                                            qntParc: 0,
                                            vlrGCA: 0,
                                            vlrDescJuros: 0,
                                            vlrJuroParc1: 0,
                                            vlrJuroParc2: 0,
                                            vlrJuroParc3: 0
                                        };

                                        var cpVlrParc = function() {
                                            $scope.contrato.vlrHon = (($scope.contrato.vlrParc) * 10) / 100;

                                            $scope.contrato.totalSemDesconto = parcSemDesc();
                                            $scope.contrato.totalComDesconto = parcComDesc();

                                        };

                                        var cpVlrHon = function() {

                                        };

                                        var cpQntParc = function() {
                                            $scope.contrato.vlrHon = ((((($scope.contrato.vlrParc) * 10) / 100)) * $scope.contrato.qntParc);

                                            $scope.contrato.totalSemDesconto = parcSemDesc();
                                            $scope.contrato.totalComDesconto = parcComDesc();

                                            $scope.contrato.textoSemDesc = textoParcSemDesc();
                                            $scope.contrato.textoComDesc = textoParcComDesc();
                                        };


                                        var cpVlrGCA = function() {
                                            $scope.contrato.totalSemDesconto = parcSemDesc();
                                            $scope.contrato.totalComDesconto = parcComDesc();
                                        };
                                        var cpVlrDescJuros = function() {
                                            $scope.contrato.totalComDesconto = parcComDesc();
                                        };

                                        var cpVlrJuroParc1 = function() {
                                            $scope.contrato.totalSemDesconto = parcSemDesc();
                                            $scope.contrato.totalComDesconto = parcComDesc();
                                        };
                                        var cpVlrJuroParc2 = function() {
                                            $scope.contrato.totalSemDesconto = parcSemDesc();
                                            $scope.contrato.totalComDesconto = parcComDesc();
                                        };
                                        var cpVlrJuroParc3 = function() {
                                            $scope.contrato.totalSemDesconto = parcSemDesc();
                                            $scope.contrato.totalComDesconto = parcComDesc();
                                        };

                                        function parcSemDesc() {
                                            somaSemJuro =
                                                    (($scope.contrato.vlrParc * $scope.contrato.qntParc)
                                                            + $scope.contrato.vlrHon)
                                                    + $scope.contrato.vlrGCA;


                                            parc = $scope.contrato.qntParc;
                                            if (parc == 1) {
                                                return somaSemJuro + $scope.contrato.vlrJuroParc1;
                                            } else if (parc == 2) {
                                                return somaSemJuro + $scope.contrato.vlrJuroParc1 + $scope.contrato.vlrJuroParc2;
                                            } else if (parc == 3) {
                                                return somaSemJuro + $scope.contrato.vlrJuroParc1 + $scope.contrato.vlrJuroParc2 + +$scope.contrato.vlrJuroParc3;

                                            }
                                        }
                                        ;

                                        function parcComDesc() {
                                            somaVlrEstaveis = (($scope.contrato.vlrParc * $scope.contrato.qntParc)
                                                    + $scope.contrato.vlrHon)
                                                    + $scope.contrato.vlrGCA;

                                            if (parc == 1) {

                                                juroComDesc = ($scope.contrato.vlrJuroParc1 * $scope.contrato.vlrDescJuros) / 100;
                                                return (somaVlrEstaveis + $scope.contrato.vlrJuroParc1) - juroComDesc;
                                            } else if (parc == 2) {
                                                juroComDesc = (($scope.contrato.vlrJuroParc1 + $scope.contrato.vlrJuroParc2) * $scope.contrato.vlrDescJuros) / 100;
                                                return (somaVlrEstaveis + $scope.contrato.vlrJuroParc1 + $scope.contrato.vlrJuroParc2) - juroComDesc;
                                            } else if (parc == 3) {
                                                juroComDesc = (($scope.contrato.vlrJuroParc1 + $scope.contrato.vlrJuroParc2 + $scope.contrato.vlrJuroParc3) * $scope.contrato.vlrDescJuros) / 100;
                                                return (somaVlrEstaveis + $scope.contrato.vlrJuroParc1 + $scope.contrato.vlrJuroParc2 + $scope.contrato.vlrJuroParc3) - juroComDesc;

                                            }
                                            ;
                                        }
                                        ;

                                        function textoParcSemDesc() {

                                            cifrao = " R$ ";
                                            texto = "Vlr Acordo " + cifrao + ".: ";

                                            if ($scope.contrato.totalComDesconto == null) {
                                                vlrAcordo = 0;
                                            } else {
                                                vlrAcordo = $scope.contrato.totalComDesconto;
                                            }

                                            textoHon = " Hon " + cifrao + ".: ";
                                            vlrHon = $scope.contrato.vlrHon;
                                            textoJuros = " Juros " + cifrao + ".: ";
                                            textoDesc = " Desc " + cifrao + ".: ";
                                            vlrDesc = " S/D";
                                            vlrJuros = "";

                                            if ($scope.contrato.qntParc == 1) {
                                                vlrJuros = $scope.contrato.vlrJuroParc1;
                                            } else if ($scope.contrato.qntParc == 2) {
                                                vlrJuros = $scope.contrato.vlrJuroParc1 + $scope.contrato.vlrJuroParc2;
                                            } else if ($scope.contrato.qntParc == 3) {
                                                vlrJuros = $scope.contrato.vlrJuroParc1 + $scope.contrato.vlrJuroParc2 + $scope.contrato.vlrJuroParc3;
                                            }

                                            textoGCA = " GCA " + cifrao + ".: ";
                                            vlrGCA = $scope.contrato.vlrGCA;

                                            qntDeParc = "";

                                            if ($scope.contrato.qntParc == 1) {
                                                qntDeParc = " " + $scope.contrato.qntParc + " Parcela ";
                                            } else if ($scope.contrato.qntParc == 2) {
                                                qntDeParc = " " + $scope.contrato.qntParc + " Parcelas ";
                                            } else if ($scope.contrato.qntParc == 3) {
                                                qntDeParc = " " + $scope.contrato.qntParc + " Parcelas ";
                                            }


                                            return texto + vlrAcordo
                                                    + textoHon + vlrHon
                                                    + textoJuros + vlrJuros
                                                    + textoDesc + vlrDesc
                                                    + textoGCA + vlrGCA
                                                    + qntDeParc;
                                        }
                                        ;

                                        function textoParcComDesc() {
                                            cifrao = " R$ ";
                                            texto = "Vlr Acordo " + cifrao + ".: ";

                                            if ($scope.contrato.totalComDesconto == null) {
                                                vlrAcordo = 0;
                                            } else {
                                                vlrAcordo = $scope.contrato.totalComDesconto;
                                            }
                                            textoHon = " Hon " + cifrao + ".: ";
                                            vlrHon = $scope.contrato.vlrHon;
                                            textoJuros = " Juros " + cifrao + ".: ";
                                            textoDesc = " Desc " + cifrao + ".: ";
                                            vlrDesc = $scope.contrato.vlrDescJuros;
                                            vlrJuros = "";

                                            if ($scope.contrato.qntParc == 1) {
                                                vlrJuros = $scope.contrato.vlrJuroParc1 - (($scope.contrato.vlrJuroParc1 * $scope.contrato.vlrDescJuros) / 100);
                                            } else if ($scope.contrato.qntParc == 2) {

                                                somaJuro = $scope.contrato.vlrJuroParc1 + $scope.contrato.vlrJuroParc2;
                                                vlrJuros = somaJuro - (((somaJuro * $scope.contrato.vlrDescJuros) / 100));
                                            } else if ($scope.contrato.qntParc == 3) {

                                                somaJuro = $scope.contrato.vlrJuroParc1 + $scope.contrato.vlrJuroParc2 + $scope.contrato.vlrJuroParc3;
                                                vlrJuros = somaJuro - ((somaJuro * $scope.contrato.vlrDescJuros) / 100);
                                            }

                                            textoGCA = " GCA.: ";
                                            vlrGCA = $scope.contrato.vlrGCA;

                                            qntDeParc = "";

                                            if ($scope.contrato.qntParc == 1) {
                                                qntDeParc = " " + $scope.contrato.qntParc + " Parcela ";
                                            } else if ($scope.contrato.qntParc == 2) {
                                                qntDeParc = " " + $scope.contrato.qntParc + " Parcelas ";
                                            } else if ($scope.contrato.qntParc == 3) {
                                                qntDeParc = " " + $scope.contrato.qntParc + " Parcelas ";
                                            }


                                            return texto + cifrao + vlrAcordo
                                                    + textoHon + cifrao + vlrHon
                                                    + textoJuros + cifrao + vlrJuros
                                                    + textoDesc + vlrDesc + "% "
                                                    + textoGCA + cifrao + vlrGCA
                                                    + qntDeParc;
                                        }
                                        ;

                                        $scope.contrato.limparDados = function() {
                                            $scope.contrato.vlrGCA = 200;
                                        };

                                        $scope.$watch('contrato.vlrParc', cpVlrParc);
                                        $scope.$watch('contrato.vlrHon', cpVlrHon);
                                        $scope.$watch('contrato.qntParc', cpQntParc);
                                    }
                                    ;

                                    function cobCalc($scope) {
                                        // $scope.totalSemDesconto = "test";
                                    }


        </script>
    </body>


</html>
